<div class="abs-left">
    <%= link_to  "Add Organization", new_org_path, class: 'el-button el-button--primary is-plain' %>
</div>

<div class="row orgs">
    <% @orgs.each do |org| %>
        <div class="col-md-4 org">
            <div class="icon" style="background-image: url('https://via.placeholder.com/600x500');"></div>
            <div class="extra">
                <% if current_user.id != org.user_id %>
                    <h3>
                        <%= link_to  org.name, org_path(org) %>
                    </h3>
                    <small>Owner: <%= org.user.name %></small>
                <% else %>
                    <h3>
                        <%= link_to  org.name, org_path(org) %>
                    </h3>
                    <div class="actions">
                        <ul>
                            <li class="mr-3">
                                <%= link_to  "Edit", edit_org_path(org) %>
                            </li>
                            <li>
                                <%= link_to  "Delete", org_path(org), remote: true, method: :delete %>
                            </li>
                        </ul>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>
</div>




<%= link_to project.name, org_project_path(params[:id], project) %> | 
    <%= link_to  "Edit", edit_org_project_path(params[:id], project) %> | 
    <%= link_to  "Delete", org_project_path(params[:id], project), remote: true, method: :delete %> <br />