
<div class="navbar m-0 mb-5">
    <div>
            <%= link_to  "Back", orgs_path %>
        <h3>
            Welcome to, <%= @org.name %>
        </h3>
    </div>
    <div class="left">
        <%= link_to  "Create new project", new_org_project_path(params[:id]), class: 'el-button el-button--default is-plain' %>
        <%= link_to  "Edit", edit_org_path(@org), class: 'el-button el-button--primary is-plain' %>
        <%= link_to  "Delete", org_path(@org), remote: true, method: :delete, class: 'el-button el-button--danger is-plain mr-5' %>
    </div>
</div>



<div class="row orgs">
    <% @projects.each do |project| %>
            <el-card :body-style="{ padding: '0px' }" shadow="hover">
                <% if project.wallpaper != '' %>
                    <img src="<%= project.wallpaper %>" class="image w-300">
                <% else %>
                    <img src="https://via.placeholder.com/300x300" class="image">
                <% end %>
                <div style="padding: 14px;">
                <strong><%= project.name %></strong>
                <div class="bottom clearfix">
                    <div class="extra flex-end">
                        <%= link_to  'Visit', org_project_path(params[:id], project), class: 'el-button button el-button--text' %>
                    </div>
                </div>
            </div>
        </el-card>
    <% end %>
</div>
