<!DOCTYPE html>
<html>
  <head>
    <title>PMT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap-grid.css" integrity="sha256-ioAA5G7gdssuN24SL2ByxTMiyg5m5PnP3I4TS5hNIYA=" crossorigin="anonymous" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'vue' %>


  </head>

  <body>
    <div id="app">
      <el-container>
        <el-header>
          <div class="navbar">
            <div>
              <%= link_to  "Home", root_path %>
              <% if user_signed_in? %>
                <%= link_to  "Organization", orgs_path %>
              <% end %> 
            </div>
            <div class="left">
              <% if user_signed_in? %>
                  <strong>Welcome, <%= current_user.name %></strong>
                  <%= link_to  "Sign out", destroy_user_session_path, method: :delete %>
              <% else %>
                  <%= link_to  "Sign in", new_user_session_path %>
              <% end %>
            </div>
          </div>
        </el-header>

        <el-main>
          <%= render "layouts/alert" %>

          <%= yield %>
        </el-main>
      </el-container>
    </div>
  </body>
</html>
